* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 }
body {
  font-family: sans-serif;
}
.clearfix::after {
 content: "";
 display: table;
 clear: both;
 }
.container {
  width: 80%;
  margin: auto;
}
.header-top {
  background-color: transparent;
}
.header-top-first-row{
  height: 100px;
  background-color: #F4F9FD;
}
.right-column{
  float: left;
  width: 70%;
  line-height: 100px;
}
.right-column li {
  list-style: none;
  display: inline-block;
  padding-left: 15px;
}
#border-left {
  border-left: 1px solid #000;
  margin-top: 15px;
  height: 20px;
  transform: translate(100%, 20%);
}
.left-column {
  float: right;
  width: 30%;
  line-height: 100px;
  padding-left: 40px;
}
.left-column li {
  list-style: none;
  display: inline-block;
  padding-left: 15px;
}
.fa-search {
  color: #08e8de;
}

.btn-login {
  padding: 10px 10px;
  margin-left: 15px;
  background-color: transparent;
  color: #FE775A;
  border-radius: 5px;
  border: 1px solid #FE775A;
}
.btn {
  padding: 10px 10px;
  margin-left: 15px;
  background-color: #FE775A;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #FE775A;
}
.header-top-second-row {
  height: 100px;
  background-color: #fff;
}
.column-lower-left {
  float: left;
  width: 30%;
  padding: 30px 0px 0px 0px;
}
.column-lower-right {
  float: left;
  width: 70%;
  transform: translate(10%, 200%);
  text-align: center;
}
.column-lower-right li {
  list-style: none;
  display: inline-block;
  padding-left: 15px;
}
.btn-banner {
  padding: 20px 30px 20px 30px;
  background-color: #FE775A;
  color: #fff;
  border-radius: 5px;
  border: 1px solid #FE775A;
  margin: 30px 0px 30px 0px;
  font-size: 15px;
}
header {
  height: 1000px;
  background-image: url(../img/jumbotron.png);
  background-repeat:no-repeat;
  background-size: 100%;
}
.banner-column {
  line-height: 30px;
  margin-top: 40px;
}
.first-background {
  height: 2000px;
  background-color: #F4F9FD;
}
.central-column {
  text-align: center;
  line-height: 35px;
}
